<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.easybuy.dao.order.UserAddressMapper">
    <cache eviction="FIFO" flushInterval="600000" size="512" readOnly="true" />
    <select id="queryUserAddressList" parameterType="UserAddressParam">
        select
            id,userId,address,createTime,isDefault,remark
        from
            easybuy_user_address
        <trim prefix="where" prefixOverrides="and|or">
            <if test="userId!=null">
                userId = #{userId}
            </if>
            <if test="address!=null">
                and address like #{address}
            </if>
            <if test="sort!=null">
                and order by #{sort}
            </if>
            <if test="isPage==true">
                limit startIndex,pageSize
            </if>

        </trim>
    </select>
    <insert id="add" parameterType="UserAddress">
        INSERT into
            easybuy_user_address(userId,address,createTime,isDefault,remark)
        VALUES
            (#{userId},#{address},#{createTime},#{isDefault},#{remark})
    </insert>
    <select id="getUserAddressById" parameterType="Integer">
        select id,userId,address,createTime,isDefault,remark from easybuy_user_address  where id=#{addressId}
    </select>
</mapper>